<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form novalidate name="formulario" ng-submit="vm.editar ? vm.atualizar(formulario) : vm.salvar(formulario)">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="formulario.tipoLocal.$dirty && formulario.tipoLocal.$invalid ? 'has-error' : ''">
                                <label for="tipoLocal">Tipo Local: *</label>
                                <select class="form-control" id="tipoLocal" name="tipoLocal" ng-options="tipoLocal.nome for tipoLocal in vm.tipoLocalList track by tipoLocal.id" ng-model="vm.tipoLocal" required>
                                    <option value="">Selecione</option> 	
                                </select>
                                <span class="help-block" ng-show="formulario.tipoLocal.$dirty && formulario.tipoLocal.$invalid">O campo é obrigatório</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="formulario.tipoQuadra.$dirty && formulario.tipoQuadra.$invalid ? 'has-error' : ''">
                                <label for="tipoQuadra">Tipo Quadra: *</label>
                                <select class="form-control" id="tipoQuadra" name="tipoQuadra" ng-options="tipoQuadra.nome for tipoQuadra in vm.tipoQuadraList track by tipoQuadra.id" ng-model="vm.tipoQuadra" required>
                                    <option value="">Selecione</option> 	
                                </select>
                                <span class="help-block" ng-show="formulario.tipoQuadra.$dirty && formulario.tipoQuadra.$invalid">O campo é obrigatório</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="formulario.esportes.$dirty && formulario.esportes.$invalid ? 'has-error' : ''">
                                <label for="esportes">Esportes: *</label>
                                <select class="form-control" id="esportes" name="esportes" ng-options="esportes.nome for esportes in vm.tipoEsporteList track by esportes.id" ng-model="vm.esportes" required>
                                    <option value="">Selecione</option> 	
                                </select>
                                <span class="help-block" ng-show="formulario.esportes.$dirty && formulario.esportes.$invalid">O campo é obrigatório</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="formulario.titulo.$dirty && formulario.titulo.$invalid ? 'has-error' : ''">
                                <label for="titulo">Título: *</label>
                                <input id="titulo" type="text" name="titulo" class="form-control" placeholder="Informe o título da anúncio" ng-model="vm.quadra.titulo" required>
                                <span class="help-block" ng-show="formulario.titulo.$dirty && formulario.titulo.$invalid">O campo é obrigatório</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="formulario.descricao.$dirty && formulario.descricao.$invalid ? 'has-error' : ''">
                                <label for="descricao">Descrição: *</label>
                                <input id="descricao" type="text" name="descricao" class="form-control" ng-model="vm.quadra.descricao" placeholder="Informe a descrição da quadra" required>
                                <span class="help-block" ng-show="formulario.descricao.$dirty && formulario.descricao.$invalid">O campo é obrigatório</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="valor_bola">Valor Bola:</label>
                                <input id="valor_bola" type="text" name="valor_bola" class="form-control" placeholder="Informe o valor_bola da anúncio" ng-model="vm.quadra.valor_bola" ui-money-mask>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" >
                                <label for="largura">Largura:</label>
                                <input id="largura" type="text" name="largura" class="form-control" placeholder="Informe o título da anúncio" ng-model="vm.quadra.largura">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="comprimento">Comprimento:</label>
                                <input id="comprimento" type="text" name="comprimento" class="form-control" ng-model="vm.quadra.comprimento" placeholder="Informe a descrição da quadra">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="flag_tamanho_oficial">Tamanho Oficial:</label>
                                <div class="input-group">
                                    <toggle id="flag_tamanho_oficial" ng-model="vm.quadra.flag_tamanho_oficial" ng-change="changed()" on="Ativo" off="Desativo" onstyle="btn btn-primary btn-flat" offstyle="btn btn-default btn-flat"></toggle>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="flag_dia_chuva">Dia de Chuva:</label>
                                <div class="input-group">
                                    <toggle id="flag_dia_chuva" ng-model="vm.quadra.flag_dia_chuva" ng-change="changed()" on="Disponível" off="Indisponível" onstyle="btn btn-primary btn-flat" offstyle="btn btn-default btn-flat"></toggle>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="flag_marcacao_mensal">Marcação Mensal:</label>
                                <div class="input-group">
                                    <toggle id="flag_marcacao_mensal" ng-model="vm.quadra.flag_marcacao_mensal" ng-change="changed()" on="Disponível" off="Indisponível" onstyle="btn btn-primary btn-flat" offstyle="btn btn-default btn-flat"></toggle>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="situacao">Situação:</label>
                                <div class="input-group">
                                    <toggle id="situacao" ng-model="vm.quadra.situacao" ng-change="changed()" on="Ativo" off="Desativo" onstyle="btn btn-primary btn-flat" offstyle="btn btn-default btn-flat"></toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="imagem">Imagem Principal: *</label>
                                <input id="imagem" name="imagem" type="file" nv-file-select="" uploader="vm.uploader1" multiple required/>
                                <div ng-repeat="item in vm.uploader1.queue">
                                    <div>
                                        <div ng-show="vm.uploader1.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    </div>
                                    <div nowrap>
                                        <button type="button" class="btn btn-success btn-xs btn-flat" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs btn-flat" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remover
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-show="vm.editar">
                            <div class="form-group">
                                <label for="preview">Imagem Atual:</label>
                                <div class="input-group">
                                    <img ng-src="server/arquivo/buscar/{{vm.preview}}" class="img-lg" alt="Imagem Atual">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="imagem2">Imagem Principal: *</label>
                                <input id="imagem2" name="imagem2" type="file" nv-file-select="" uploader="vm.uploader2" multiple required/>
                                <div ng-repeat="item in vm.uploader2.queue">
                                    <div>
                                        <div ng-show="vm.uploader2.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    </div>
                                    <div nowrap>
                                        <button type="button" class="btn btn-success btn-xs btn-flat" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs btn-flat" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remover
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-show="vm.editar">
                            <div class="form-group">
                                <label for="preview">Imagem Atual:</label>
                                <div class="input-group">
                                    <img ng-src="server/arquivo/buscar/{{vm.preview}}" class="img-lg" alt="Imagem Atual">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-flat" ng-show="vm.editar" ng-disabled="formulario.$invalid">Atualizar</button>
                    <button type="submit" class="btn btn-primary btn-flat" ng-hide="vm.editar" ng-disabled="formulario.$invalid || !vm.uploader1.queue[0].isUploaded">Salvar</button>
                    <button type="button" class="btn btn-primary btn-flat" ng-click="vm.voltar()">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>