<style>
    .kode-simple-form ul li input[type="submit"] {
        border: 7px solid;
        box-shadow: 0 0 0 1px #f48686 inset;
        color: #ffffff;
        float: left;
        font-size: 16px;
        margin-top: 10px;
        padding: 10px 30px;
        text-transform: uppercase;
    }
</style>

<div class="kode-subheader subheader-height">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Quadra - {{vm.quadra.titulo}}</h1>
            </div>
            <div class="col-md-6">
                <ul class="kode-breadcrumb">
                    <li><a href="/">Início</a></li>
                    <li><a href="publico/cliente">Lista de Clientes</a></li>
                    <li><a href="publico/quadra/cliente/{{vm.cliente.id}}">Lista de Quadras</a></li>
                    <li><a href="#">Reservar Quadra</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--// SubHeader //-->

<!--// Main Content //-->
<div class="kode-content">

    <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.print.css" media="print">

    <!--// Page Content //-->
    <section class="kode-pagesection">
        <div class="container">
            <div class="row">
                <div class="col-md-1 banner banner-lateral" style="width: 12.499999995%; height: 400px"></div>
                <div class="kode-pagecontent col-md-9">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="banner banner-central "></div>

                            <div class="kode-images">
                                <a href="#" class="shopmainthumb"><img ng-src="server/arquivo/buscar/{{vm.quadra.imagem}}" alt="Imagem principal quadra {{vm.quadra.titulo}}"></a>
                                <ul class="hide-1024px">
                                    <li><a href="#"><img ng-src="server/arquivo/buscar/{{vm.quadra.imagem1}}" alt="Imagem 1 quadra {{vm.quadra.titulo}}"></a></li>
                                    <li><a href="#"><img ng-src="server/arquivo/buscar/{{vm.quadra.imagem2}}" alt="Imagem 2 quadra {{vm.quadra.titulo}}"></a></li>
                                    <li><a href="#"><img ng-src="server/arquivo/buscar/{{vm.quadra.imagem3}}" alt="Imagem 3 quadra {{vm.quadra.titulo}}"></a></li>
                                </ul>
                            </div>
                            <div class="kode-summery">
                                <div class="summery-title">
                                    <h2>{{vm.quadra.titulo}}</h2>
                                    <div class="clearfix"></div>
                                    <!--                            <small>In stock</small>-->
                                    <div class="kode-rating"><span class="rating-box" style="width: 100%"></span></div>
                                </div>
                                <p>{{vm.quadra.descricao}}</p>
                                <p>Esportes:</p>
                                <ul style="    padding-left: 30px;">
                                    <li ng-repeat="esporte in vm.quadra.esportes">{{esporte.nome}}</li>
                                </ul>
                                <div class="priceinfo">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-1 banner banner-lateral" style="width: 12.499999995%; height: 400px"></div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <h1  style="border-bottom: 1px solid #c6c6c6; margin-bottom: 20px;">Reservas</h1>
                        <section id="headerReservas" class="content">
                            <div class="row">
                                <div class="col-xs-12 col-md-3" style="padding-bottom: 30px">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Dados da Reserva</h3>
                                        </div>
                                        <div class="box-body kode-simple-form custom-simple-form">
                                            <form method="post" name="formulario" class="kickoff-form" ng-submit="vm.confirmar(vm.reserva)" >
                                                <p><span>Início</span><input type="text" id="formIni" class="required" style="width: 100%" ng-model="vm.reserva.data_hora_reserva" disabled=""></p>
                                                <p><span>Fim</span><input type="text" id="formFim" class="required" style="width: 100%" disabled></p>
                                                <p><span>Valor</span><input type="text" id="formValor" class="required" style="width: 100%" disabled ></p>
                                                <ul><li><input id="formButton" class="thbg-color" type="submit" value="Reservar Horário"></li></ul>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-12 col-md-9" style="padding-bottom: 30px">
                                    <div class="box box-primary">
                                        <div class="box-body no-padding">
                                            <!-- THE CALENDAR -->
                                            <div id="calendar"></div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /. box -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--// Page Content //-->

</div>
<!--// Main Content //-->
<script src="vendor/kickoff/js/kode_pp.js"></script>
<script src="vendor/kickoff/js/functions.js"></script>
<script src="/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src='/bower_components/fullcalendar/dist/locale/pt-br.js'></script>
<script>
                                                            $(function () {

                                                                $('#calendar').fullCalendar({
                                                                    header: {
                                                                        left: 'prev,next ',
                                                                        center: 'title',
                                                                        right: 'month,agendaWeek,agendaDay'
                                                                    },
                                                                    slotDuration: '01:00:00',
                                                                    buttonText: {
                                                                        today: 'hoje',
                                                                        month: 'mês',
                                                                        week: 'semana',
                                                                        day: 'dia'
                                                                    },
                                                                    editable: false,
                                                                    droppable: false,
                                                                    eventClick: function (calEvent, jsEvent, view) {
                                                                        $('html, body').animate({
                                                                            scrollTop: $("#headerReservas").offset().top - 50
                                                                        }, 1000);
                                                                        $('#formIni').val(calEvent.start.format("DD/MM/YYYY HH:mm:ss")).change();
                                                                        $('#formFim').val(calEvent.end.format("DD/MM/YYYY HH:mm:ss")).change();
                                                                        $('#formValor').val(calEvent.valor).change();
                                                                    }
                                                                });

                                                            });
</script>