<div class="kode-subheader subheader-height">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Gerenciamento</h1>
            </div>
            <div class="col-md-6">
                <ul class="kode-breadcrumb">
                    <li><a href="/">Início</a></li>
                    <li><a href="#">Gerenciamento</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--// SubHeader //-->

<!--// Main Content //-->
<div class="kode-content" style="padding-bottom: 60px">

    <!--// Page Content //-->
    <section class="kode-pagesection">
        <div class="container">
            <div class="row">

                <div class="kode-pagecontent col-md-12">

                    <div class="contactus-page">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="kode-simple-form custom-simple-form">  					
                                    <form method="post" class="kickoff-form" >
                                        <ul>
                                            <li><p><span>E-mail</span><input type="text" id="email" name="email" class="required email" ng-model="vm.usuario.email" placeholder="Email *" disabled=""></p></li>
                                            <li><p><span>Nome *</span><input type="text" id="name" name="name" class="required" ng-model="vm.usuario.nome" placeholder="Nome"></p></li>
                                            <li><p><span>Data de Nascimento</span><input id="data_nascimento" type="text" name="data_nascimento"  ng-model="vm.usuario.data_nascimento" placeholder="Data de nascimento" required></p></li>
                                            <li><p><span>Telefone</span><input type="text" id="telefone" name="telefone" ng-model="vm.usuario.telefone" placeholder="Telefone"></p></li>
                                            <li><p><span>Facebook</span><input type="text" id="facebook" name="facebook" ng-model="vm.usuario.facebook" placeholder="Facebook"></p></li>
                                            <li><p><span>Biografia</span><textarea name="message" id="message" placeholder="Escreva sobre você"></textarea></p></li>
                                            <li><input class="thbg-color" type="submit" value="Atualizar Informações"></li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="kode-simple-form custom-simple-form">  					
                                    <form method="post" class="kickoff-form" >
                                        <ul>
                                            <li><p><span>Estado</span><input type="text" id="estado" name="estado" class="required" ng-model="vm.usuario.estado" placeholder="Estado "></p></li>
                                            <li><p><span>Cidade</span><input type="text" id="cidade" name="cidade" class="required" ng-model="vm.usuario.cidade" placeholder="Cidade "></p></li>
                                            <li><p><span>Bairro</span><input type="text" id="bairro" name="bairro" class="required" ng-model="vm.usuario.bairro" placeholder="Bairro "></p></li>
                                            <li><p><span>Endereço</span><input type="text" id="endereco" name="endereco" class="required" ng-model="vm.usuario.endereco" placeholder="Endereço "></p></li>
                                            <li><p><span>Endereço</span><input id="logo" type="file" nv-file-select="" uploader="vm.uploader" multiple required />
                                <div ng-repeat="item in vm.uploader.queue">
                                    <div>
                                        <div ng-show="vm.uploader.isHTML5" ng-thumb="{ file: item._file, height: 160 }"></div>
                                    </div>
                                    <div nowrap>
                                        <button type="button" class="btn btn-success btn-xs btn-flat" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs btn-flat" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remover
                                        </button>
                                    </div>

                                </div></p></li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--// Page Content //-->

</div>
<!--// Main Content //-->

<script src="vendor/kickoff/js/kode_pp.js"></script>
<script src="vendor/kickoff/js/functions.js"></script>