<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form novalidate name="formulario" ng-submit="vm.editar ? vm.atualizar(formulario) : vm.salvar(formulario)">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group" ng-class="formulario.quadra.$dirty && formulario.quadra.$invalid ? 'has-error' : ''">
                                <label for="quadra">Quadra: *</label>
                                <select class="form-control" id="quadra" name="quadra" ng-options="quadra.titulo for quadra in vm.quadraList track by quadra.id" ng-model="vm.quadra" ng-change="vm.buscarValor(formulario)" required>
                                    <option value="">Selecione</option> 	
                                </select>
                                <span class="help-block" ng-show="formulario.quadra.$dirty && formulario.quadra.$invalid">O campo é obrigatório</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" ng-class="formulario.usuario.$dirty && formulario.usuario.$invalid ? 'has-error' : ''">
                                <label for="usuario">Usuário: *</label>
                                <select class="form-control" id="usuario" name="usuario" ng-options="usuario.email for usuario in vm.usuarioList track by usuario.id" ng-model="vm.usuario" ng-change="vm.buscarValor(formulario)" required>
                                    <option value="">Selecione</option> 	
                                </select>
                                <span class="help-block" ng-show="formulario.usuario.$dirty && formulario.usuario.$invalid">O campo é obrigatório</span>
                            </div>
                        </div>
                        <div class="col-md-3 bootstrap-timepicker">
                            <div class="form-group" ng-class="formulario.data_hora_reserva.$dirty && formulario.data_hora_reserva.$invalid ? 'has-error' : ''">
                                <label for="data_hora_reserva">Data e Hora: *</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input id="data_hora_reserva" type="text" class="form-control timepicker" ng-model="vm.reserva.data_hora_reserva" ng-change="vm.buscarValor(formulario)" required >
                                </div>
                                <span class="help-block" ng-show="formulario.data_hora_reserva.$dirty && formulario.data_hora_reserva.$invalid">O campo é obrigatório</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="valor">Valor:</label>
                                <input id="valor" type="text" name="valor" class="form-control" placeholder="Valor carregado automaticamente" ng-model="vm.reserva.valor" disabled ui-money-mask required>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-flat" ng-show="vm.editar" ng-disabled="formulario.$invalid">Atualizar</button>
                    <button type="submit" class="btn btn-primary btn-flat" ng-hide="vm.editar" ng-disabled="formulario.$invalid">Salvar</button>
                    <button type="button" class="btn btn-primary btn-flat" ng-click="vm.voltar()">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>