<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form novalidate name="formulario" ng-submit="vm.salvar(formulario)">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input id="email" type="text" name="email" class="form-control" ng-model="vm.dados.email" placeholder="Informe o email" readonly="true">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="formulario.razao_social.$dirty && formulario.razao_social.$invalid ? 'has-error' : ''">
                                <div class="form-group">
                                    <label for="razao_social">Razão Social: *</label>
                                    <input id="razao_social" type="text" name="razao_social" class="form-control" ng-model="vm.dados.razao_social" placeholder="Informe a razão social" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="formulario.nome_fantasia.$dirty && formulario.nome_fantasia.$invalid ? 'has-error' : ''">
                                <div class="form-group">
                                    <label for="nome_fantasia">Nome Fantasia: *</label>
                                    <input id="nome_fantasia" type="text" name="nome_fantasia" class="form-control" ng-model="vm.dados.nome_fantasia" placeholder="Informe o nome fantasia" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="formulario.cpf_cnpj.$dirty && formulario.cpf_cnpj.$invalid ? 'has-error' : ''">
                                <div class="form-group">
                                    <label for="cpf_cnpj">CPF/CNPJ: *</label>
                                    <input id="cpf_cnpj" type="text" name="cpf_cnpj" class="form-control" ng-model="vm.dados.cpf_cnpj" required ui-br-cpfcnpj-mask>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tel">Telefone Residêncial:</label>
                                <input id="tel" type="text" name="tel" class="form-control" ng-model="vm.dados.tel" ui-mask="(99) 9999-9999?9">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cel">Telefone Celular:</label>
                                <input id="cel" type="text" name="cel" class="form-control" ng-model="vm.dados.cel" ui-mask="(99) 9999-9999?9">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="formulario.endereco.$dirty && formulario.endereco.$invalid ? 'has-error' : ''">
                                <div class="form-group">
                                    <label for="endereco">Endereço: *</label>
                                    <input id="endereco" type="text" name="endereco" class="form-control" ng-model="vm.dados.endereco" placeholder="Informe o endereço" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="latitude">Latitude:</label>
                                <input id="latitude" type="text" name="latitude" class="form-control" ng-model="vm.dados.latitude" placeholder="Informe a latitude" ui-number-mask="5" ui-negative-number>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="longitude">Longitude:</label>
                                <input id="longitude" type="text" name="longitude" class="form-control" ng-model="vm.dados.longitude" placeholder="Informe a longitude" ui-number-mask="5" ui-negative-number>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="url_facebook">Página do Facebook:</label>
                                <input id="url_facebook" type="text" name="url_facebook" class="form-control" ng-model="vm.dados.url_facebook" placeholder="URL da página (ex.: http://facebook.com/forgeit)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="logo">Logo:</label>
                                <input id="logo" type="file" nv-file-select="" uploader="vm.uploader" />
                                <div ng-repeat="item in vm.uploader.queue">
                                    <div>
                                        <div ng-show="vm.uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    </div>
                                    <div nowrap>
                                        <button type="button" class="btn btn-success btn-xs btn-flat" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs btn-flat" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remover
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-show="vm.preview">
                            <div class="form-group">
                                <label for="preview">Logo Atual:</label>
                                <div class="input-group">
                                    <img ng-src="server/arquivo/buscar/{{vm.preview}}" class="img-lg" alt="Logo Atual">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-flat" ng-disabled="formulario.$invalid">Salvar</button>
                    <button type="button" class="btn btn-primary btn-flat" ng-click="vm.voltar()">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>