<header class="main-header" ng-controller="MenuTopoController as vm" ng-show="vm.isLogged()">
    <a href="/somarcar" class="logo">
        <span class="logo-lg"><img src="/src/app2/layout/img/logo.png" alt="É Só Marcar" style='height: 45px; margin-top: -4px;'/> <b>ÉSóMarcar</b></span>
    </a>
    
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="privado/dados">Dados do Cliente</a></li>
                        <li><a href="privado/anuncio">Anúncios</a></li>
                        <li><a href="privado/quadra">Quadras</a></li>
                        <li><a href="privado/horario">Horários</a></li>
                        <li><a href="privado/excecao">Horários de Exceção</a></li>
                        <li><a href="privado/reserva">Reservas</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img ng-show="usuarioLogado.imagem" ng-src="server/arquivo/buscar/{{ usuarioLogado.imagem }}" class="user-image" alt="User Image">
                        <span class="hidden-xs" style="text-transform: capitalize">{{ usuarioLogado.nome }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img ng-show="usuarioLogado.imagem" ng-src="server/arquivo/buscar/{{ usuarioLogado.imagem }}" class="img-circle" alt="Imagem do Usuário">
                            <p style="text-transform: capitalize">{{ usuarioLogado.nome }}</p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="privado/senha" class="btn btn-default btn-flat">Alterar Senha</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat" ng-click="vm.sair()">Sair do Sistema</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>